<p style="margin:0 auto;text-align:center;">お探しのページは見つかりませんでした。</p>
<div style="margin:0 auto;text-align:center">
  <%= image_tag "404_14_m.png" %>
</div>
<p style="margin:0 auto;text-align:center;"><%= link_to "ホームへ", :root %></p>